body {
    margin: 0;
    text-align: center;
    font-family: 'Montserat', sans-serif;
    font-size: .9375rem;
}

.day {
    text-decoration: underline;
}

h1 {
    margin-top: 50 auto 0 auto;
    font-family: 'Meriweather', serif;
    font-size: 3.75rem;
    font-weight: normal;
}

h2 {
    color: #709fb0;
    font-size: 1.4rem;
    font-weight: normal;
}

h3 {
    font-size: 1rem;
}

.habit-row1 {
    text-align: left;
    line-height: 2; 
    margin: 100px auto 100px auto;
    width: 50%
}

.habit-row2 {
    text-align: right;
    line-height: 2; 
    margin: 100px auto 100px auto;
    width: 50%
}

.sub-title {
    font-size: 1.4rem;
}

.purpose {
   padding-top: 50px;
   padding-bottom: 50px;
}

hr {
    align: center;
    border-style: dotted #a0c1b8;
    border-bottom: none;
    margin: 50px auto 100px auto;
    width: 10%;
}

.top-container {
    background-color: #726a95;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-container {
    background-color: #a0c1b8;
    padding-top: 25px;
    padding-bottom: 25px;
}
  
.data-img {
    float: left;
    margin-right: 30px
}

.sneakers-img {
    float: right;
    margin-left: 30px;
}

.prayer-img {
    float: left;
    margin-right: 30px;
}

.mat-img {
    float: right;
    margin-left: 30px;
}

.copyright {
    color: white;
    font-size: 75%;
}

  .icons {
    color: white;
    font-size: 10%;
}

.button-encourage {
    background: #726A95;
    background-image: -webkit-linear-gradient(top, #726A95, #F4EBC1);
    background-image: -moz-linear-gradient(top, #726A95, #F4EBC1);
    background-image: -ms-linear-gradient(top, #726A95, #F4EBC1);
    background-image: -o-linear-gradient(top, #726A95, #F4EBC1);
    background-image: -webkit-gradient(to bottom, #726A95, #F4EBC1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: 100;
    padding: 9px;
    border: solid #726A95 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button-encourage:hover {
    border: solid #A0C1B8 1px;
    background: #A0C1B8;
    background-image: -webkit-linear-gradient(top, #A0C1B8, #709FB0);
    background-image: -moz-linear-gradient(top, #A0C1B8, #709FB0);
    background-image: -ms-linear-gradient(top, #A0C1B8, #709FB0);
    background-image: -o-linear-gradient(top, #A0C1B8, #709FB0);
    background-image: -webkit-gradient(to bottom, #A0C1B8, #709FB0);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
 }